{% extends 'base.html' %}

{% block navigation %}
    {% if user.is_authenticated %}
        <h3>{{ user.username }}</h3>
        <a href="{% url 'index' %}"><p>Главная</p></a>
        <a href="{% url 'all_user' %}"><p>Все пользователи</p></a>
        <a href="{% url 'profile' request.user.id %}"><p>Профиль</p></a>
        <a href="{% url 'logout' %}"><p>Выйти</p></a>
        <a href="{% url 'delete' request.user.id %}"><p>Удалить пользователя</p></a>
    {% else %}
        <a href="{% url 'index' %}"><p>Главная</p></a>
        <a href="{% url 'all_user' %}"><p>Все пользователи</p></a>
        <a href="{% url 'registration' %}"><p>Регистрация</p></a>
        <a href="{% url 'login' %}"><p>Войти</p></a>
    {% endif %}
{% endblock %}

{% block content %}
    <h2>Список пользователей кому можно написать</h2>
    {% for i in users_list %}
        <a href="{% url 'profile' i.pk %}"><p>{{ i.username }} -- {{ i.first_name }} {{ i.last_name }}</p></a>
        <hr>
    {% endfor %}
{% endblock %}